extends /layout/loginMenu
block content
	.container
		.row
			.col-lg-3.col-md-4.col-sm-6.col-xs-12
				a.thumbnail(href="/auth/google")
					img(src="https://s3.amazonaws.com/smallslate/common/google_sign_in.png" alt="Sign In With Google")
					div(align="center")
						b Sign in with Google		