extends /layout/layout
block menu
	.navbar-wrapper
		.container
			.navbar.navbar-default.navbar-fixed-top(role="navigation")
				.container
					.navbar-header
						button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href="/") SmallSlate
					.navbar-collapse.collapse
						ul.nav.navbar-nav
							li
								a(href="/") About
							li
								a(href="/") Contact
						ul.nav.navbar-nav.navbar-right
							li
								form(action="/signin")
									button.btn.btn-primary(style="margin:10px;") Sign in	
